In [0]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")
from sklearn.model_selection import train_test_split

Setup Complete

In [0]:
# Path of the file to read
data_filepath = "/content/drive/My Drive/kaggle/input/feature-engineering/ks-projects-201801.csv"

# Read the file into a variable fifa_data
ks = pd.read_csv(data_filepath, parse_dates=['deadline', 'launched'])

ks.head(10)

           ID  ... usd_goal_real
0  1000002330  ...       1533.95
1  1000003930  ...      30000.00
2  1000004038  ...      45000.00
3  1000007540  ...       5000.00
4  1000011046  ...      19500.00
5  1000014025  ...      50000.00
6  1000023410  ...       1000.00
7  1000030581  ...      25000.00
8  1000034518  ...     125000.00
9   100004195  ...      65000.00

[10 rows x 15 columns]

What we can do here is predict if a Kickstarter project will succeed. We get the outcome from the state column. To predict the outcome we can use features such as category, currency, funding goal, country, and when it was launched.

##Preparing target column

- First I'll look at project states and convert the column into something we can use as targets in a model.
- We have six states, how many records of each?

In [0]:
pd.unique(ks.state), ks.groupby('state')['ID'].count()

(array(['failed', 'canceled', 'successful', 'live', 'undefined',
        'suspended'], dtype=object), state
 canceled       38779
 failed        197719
 live            2799
 successful    133956
 suspended       1846
 undefined       3562
 Name: ID, dtype: int64)

###Data cleaning isn't the current focus, so we'll simplify this example by:

- Dropping projects that are "live"
- Counting "successful" states as outcome = 1
- Combining every other state as outcome = 0

In [0]:
# Drop live projects
%%time
ks = ks.query('state != "live"')

CPU times: user 47.6 ms, sys: 881 µs, total: 48.5 ms
Wall time: 49.9 ms

In [0]:
ks

                ID  ... usd_goal_real
0       1000002330  ...       1533.95
1       1000003930  ...      30000.00
2       1000004038  ...      45000.00
3       1000007540  ...       5000.00
4       1000011046  ...      19500.00
...            ...  ...           ...
378656   999976400  ...      50000.00
378657   999977640  ...       1500.00
378658   999986353  ...      15000.00
378659   999987933  ...      15000.00
378660   999988282  ...       2000.00

[375862 rows x 15 columns]

In [0]:
# Add outcome column, "successful" == 1, others are 0
ks = ks.assign(outcome=(ks['state'] == 'successful').astype(int))

In [0]:
ks

                ID  ... outcome
0       1000002330  ...       0
1       1000003930  ...       0
2       1000004038  ...       0
3       1000007540  ...       0
4       1000011046  ...       0
...            ...  ...     ...
378656   999976400  ...       0
378657   999977640  ...       0
378658   999986353  ...       0
378659   999987933  ...       0
378660   999988282  ...       0

[375862 rows x 16 columns]

##Converting timestamps
I convert the launched feature into categorical features we can use in a model. Since I loaded in the columns as timestamp data, I access date and time values through the .dt attribute on the timestamp column.

In [0]:
ks.launched.dtype

dtype('<M8[ns]')

In [0]:
ks = ks.assign(hour=ks.launched.dt.hour,
               day=ks.launched.dt.day,
               month=ks.launched.dt.month,
               year=ks.launched.dt.year)

ks.head()

           ID                                               name  ... month  year
0  1000002330                    The Songs of Adelaide & Abullah  ...     8  2015
1  1000003930      Greeting From Earth: ZGAC Arts Capsule For ET  ...     9  2017
2  1000004038                                     Where is Hank?  ...     1  2013
3  1000007540  ToshiCapital Rekordz Needs Help to Complete Album  ...     3  2012
4  1000011046  Community Film Project: The Art of Neighborhoo...  ...     7  2015

[5 rows x 20 columns]

##Prepping categorical variables
Now for the categorical variables -- category, currency, and country -- I'll need to convert them into integers so our model can use the data. For this I'll use scikit-learn's LabelEncoder. This assigns an integer to each value of the categorical feature and replaces those values with the integers.

In [0]:
from sklearn.preprocessing import LabelEncoder

cat_features = ['category', 'currency', 'country']
encoder = LabelEncoder()

# Apply the label encoder to each column
encoded = ks[cat_features].apply(encoder.fit_transform)
encoded.head(10)

   category  currency  country
0       108         5        9
1        93        13       22
2        93        13       22
3        90        13       22
4        55        13       22
5       123        13       22
6        58        13       22
7        41        13       22
8       113        13       22
9        39        13       22

I'll collect all the features we'll use in a new dataframe and use that to train a model.

In [0]:
# Since ks and encoded have the same index and I can easily join them
data = ks[['goal', 'hour', 'day', 'month', 'year', 'outcome']].join(encoded)
data.head()

      goal  hour  day  month  year  outcome  category  currency  country
0   1000.0    12   11      8  2015        0       108         5        9
1  30000.0     4    2      9  2017        0        93        13       22
2  45000.0     0   12      1  2013        0        93        13       22
3   5000.0     3   17      3  2012        0        90        13       22
4  19500.0     8    4      7  2015        0        55        13       22

##Creating training, validation, and test splits

We need to create data sets for training, validation, and testing. We'll use a fairly simple approach and split the data using slices. We'll use 10% of the data as a validation set, 10% for testing, and the other 80% for training.

In [0]:
#valid_fraction = 0.1
#valid_size = int(len(data) * valid_fraction)

#train = data[:-2 * valid_size]
#valid = data[-2 * valid_size:-valid_size]
#test = data[-valid_size:]

In [0]:
def data_split(examples, labels, train_frac, random_state=None):
    ''' https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
    param data:       Data to be split
    param train_frac: Ratio of train set to whole dataset

    Randomly split dataset, based on these ratios:
        'train': train_frac
        'valid': (1-train_frac) / 2
        'test':  (1-train_frac) / 2

    Eg: passing train_frac=0.8 gives a 80% / 10% / 10% split
    '''

    assert train_frac >= 0 and train_frac <= 1, "Invalid training set fraction"

    X_train, X_tmp, Y_train, Y_tmp = train_test_split(examples, labels, train_size=train_frac, random_state=random_state)

    X_val, X_test, Y_val, Y_test   = train_test_split(X_tmp, Y_tmp, train_size=0.5, random_state=random_state)

    return X_train, X_val, X_test,  Y_train, Y_val, Y_test

In [0]:
X_train, X_valid, X_test, y_train, y_valid, y_test = data_split(data.drop(["outcome"], axis = 1), data["outcome"], train_frac=0.8)

In [0]:
print(list(map(lambda x: x.shape, [X_train, X_valid, X_test,  y_train, y_valid, y_test])))

[(300689, 8), (37586, 8), (37587, 8), (300689,), (37586,), (37587,)]

In general you want to be careful that each data set has the same proportion of target classes. I'll print out the fraction of successful outcomes for each of our datasets.

In [0]:
for each in [y_train, y_valid, y_test]:
    print(f"Outcome fraction = {each.mean():.4f}")

Outcome fraction = 0.3555
Outcome fraction = 0.3618
Outcome fraction = 0.3582

This looks good, each set is around 35% true outcomes likely because the data was well randomized beforehand. A good way to do this automatically is with sklearn.model_selection.StratifiedShuffleSplit but I don't need to use it here.

##Training a LightGBM model
For this course we'll be using a LightGBM model. This is a tree-based model that typically provides the best performance, even compared to XGBoost. It's also relatively fast to train. We won't do hyperparameter optimization because that isn't the goal of this course. So, our models won't be the absolute best performance you can get. But you'll still see model performance improve as we do feature engineering.

In [0]:
import lightgbm as lgb

feature_cols = X_train.columns

dtrain = lgb.Dataset(X_train[feature_cols], label=y_train)
dvalid = lgb.Dataset(X_valid[feature_cols], label=y_valid)

param = {'num_leaves': 64, 'objective': 'binary'}
param['metric'] = 'auc'
num_round = 1000
bst = lgb.train(param, dtrain, num_round, valid_sets=[dvalid], early_stopping_rounds=10, verbose_eval=False)

##Making predictions & evaluating the model
Finally, let's make predictions on the test set with the model and see how well it performs. An important thing to remember is that you can overfit to the validation data. This is why we need a test set that the model never sees until the final evaluation.

In [0]:
from sklearn import metrics
ypred = bst.predict(X_test)
score = metrics.roc_auc_score(y_test, ypred)

print(f"Test AUC score: {score}")

Test AUC score: 0.7472299631747169

#Exercise: Baseline Model