In [0]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import cross_val_score, KFold
from sklearn import preprocessing as prep
from sklearn import utils
from sklearn import svm
from sklearn.model_selection import GridSearchCV
import seaborn as sns
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, precision_recall_curve
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack

In [0]:
dataset_url = '/content/drive/My Drive/coursera/Week 4/week_4_salary-train.csv'
train = pd.read_csv(dataset_url)

dataset_url = '/content/drive/My Drive/coursera/Week 4/week_4_salary-test-mini.csv'
test = pd.read_csv(dataset_url)

In [49]:
train

                                         FullDescription  ... SalaryNormalized
0      International Sales Manager London ****k  ****...  ...            33000
1      An ideal opportunity for an individual that ha...  ...            50000
2      Online Content and Brand Manager// Luxury Reta...  ...            40000
3      A great local marketleader is seeking a perman...  ...            22500
4      Registered Nurse / RGN  Nursing Home for Young...  ...            20355
...                                                  ...  ...              ...
59995  As a result of continued growth, First Class S...  ...            26400
59996  PHP / MVC Web Developer  MacclesfieldCirca ***...  ...            26000
59997  Staff Nurse, Nursing Home, Baldock White Recru...  ...            24500
59998  This is one of the best agency side opportunit...  ...            65000
59999  Must have CSCS card must have asbestos awarene...  ...            23040

[60000 rows x 4 columns]

In [0]:
X_train = train.drop("SalaryNormalized", axis=1)
y_train = train["SalaryNormalized"]

In [0]:
X_train = X_train.replace('[^a-zA-Z0-9]', ' ', regex = True)

In [52]:
X_train.isna().sum()

FullDescription           0
LocationNormalized        0
ContractTime          15582
dtype: int64

In [0]:
X_train['LocationNormalized'].fillna('nan', inplace=True)
X_train['ContractTime'].fillna('nan', inplace=True)

In [54]:
X_train.isna().sum()

FullDescription       0
LocationNormalized    0
ContractTime          0
dtype: int64

In [0]:
X_train = X_train.apply(lambda x: x.map(str.lower))

In [56]:
X_train

                                         FullDescription  ... ContractTime
0      international sales manager london     k      ...  ...    permanent
1      an ideal opportunity for an individual that ha...  ...    permanent
2      online content and brand manager   luxury reta...  ...    permanent
3      a great local marketleader is seeking a perman...  ...    permanent
4      registered nurse   rgn  nursing home for young...  ...          nan
...                                                  ...  ...          ...
59995  as a result of continued growth  first class s...  ...     contract
59996  php   mvc web developer  macclesfieldcirca    ...  ...    permanent
59997  staff nurse  nursing home  baldock white recru...  ...          nan
59998  this is one of the best agency side opportunit...  ...    permanent
59999  must have cscs card must have asbestos awarene...  ...          nan

[60000 rows x 3 columns]

In [0]:
enc = DictVectorizer()
vectorizer = TfidfVectorizer(min_df=5)

In [0]:
X_train_vec = vectorizer.fit_transform(X_train['FullDescription'])
X_test_vec = vectorizer.transform(test['FullDescription'])

In [0]:
X_train_categ = enc.fit_transform(X_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = enc.transform(X_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [0]:
X_for_train = hstack([X_train_vec, X_train_categ])
X_for_test = hstack([X_test_vec, X_test_categ])

In [0]:
from sklearn.linear_model import Ridge

clf_ridge = Ridge(alpha = 1, random_state = 241)
clf_ridge.fit(X_for_train, y_train)
y_pred = clf_ridge.predict(X_for_test)

In [62]:
np.round(y_pred, 2)

array([55865.19, 37144.01])

In [63]:
dataset_url = '/content/drive/My Drive/coursera/Week 4/week_4_close_prices.csv'
data = pd.read_csv(dataset_url)
data

           date        AXP          BA  ...         VZ        WMT        XOM
0    2013-09-23  76.440002  117.510002  ...  47.980000  76.419998  87.750000
1    2013-09-24  76.070000  119.000000  ...  47.270000  75.750000  87.360001
2    2013-09-25  75.989998  118.510002  ...  46.950001  74.650002  87.139999
3    2013-09-26  76.320000  119.379997  ...  47.669998  74.620003  87.070000
4    2013-09-27  75.889999  118.739998  ...  47.000000  74.360001  86.900002
..          ...        ...         ...  ...        ...        ...        ...
369  2015-03-12  81.559998  152.039993  ...  48.730000  81.900002  84.220001
370  2015-03-13  80.599998  151.570007  ...  48.840000  81.900002  83.870003
371  2015-03-16  81.500000  153.669998  ...  49.270000  83.290001  84.760002
372  2015-03-17  81.059998  154.509995  ...  48.950001  82.620003  84.080002
373  2015-03-18  81.860001  155.729996  ...  49.540001  82.529999  86.070000

[374 rows x 31 columns]

In [65]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
pca.fit(data.drop(['date'],axis=1))

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [66]:
print(pca.explained_variance_ratio_)

[0.73897118 0.11007169 0.04995088 0.0287492  0.02215448 0.01931577
 0.00674853 0.00614091 0.00320594 0.00305611]

In [72]:
sum(pca.explained_variance_ratio_[:4])

0.9277429537836402

In [67]:
print(pca.singular_values_)

[753.53936404 290.82384392 195.9132354  148.62951526 130.4736952
 121.82829504  72.01066717  68.69238032  49.6329401   48.4592519 ]

In [0]:
print(pca.components_)

In [0]:
X = pca.transform(data.drop(['date'],axis=1))

In [0]:
X.T[0]

In [0]:
first_component = X.T[0]
first_component

In [97]:
dataset_url = '/content/drive/My Drive/coursera/Week 4/week_4_djia_index.csv'
data_jones = pd.read_csv(dataset_url)
data_jones

           date          ^DJI
0    2013-09-23  15401.379883
1    2013-09-24  15334.589844
2    2013-09-25  15273.259766
3    2013-09-26  15328.299805
4    2013-09-27  15258.240234
..          ...           ...
369  2015-03-12  17895.220703
370  2015-03-13  17749.310547
371  2015-03-16  17977.419922
372  2015-03-17  17849.080078
373  2015-03-18  18076.189453

[374 rows x 2 columns]

In [98]:
np.corrcoef(first_component, data_jones.iloc[:,1])

array([[1.        , 0.90965222],
       [0.90965222, 1.        ]])

In [81]:
print(sorted(zip(pca.components_[0],data.columns[1:]), key=lambda x: x[0])[::-1])

[(0.5796839457473608, 'V'), (0.3296155838158525, 'MMM'), (0.32156401737619067, 'UNH'), (0.2889960291670742, 'HD'), (0.251227032090898, 'GS'), (0.2339062895179173, 'DIS'), (0.21188886780132188, 'NKE'), (0.18947974464619466, 'TRV'), (0.1206449232286106, 'BA'), (0.11408956671451208, 'DD'), (0.09313201682640561, 'INTC'), (0.09139484029206306, 'JNJ'), (0.08716143338286819, 'WMT'), (0.07773169539162303, 'PG'), (0.0762295698765115, 'MSFT'), (0.07138971328880254, 'MRK'), (0.053683487328683256, 'UTX'), (0.050484236916854025, 'CSCO'), (0.04698793402659355, 'JPM'), (0.02905494171554044, 'KO'), (0.023092294068853506, 'PFE'), (0.01613838398473476, 'AXP'), (0.00010912222981037401, 'VZ'), (-0.006205137490081555, 'GE'), (-0.00720594589500823, 'T'), (-0.026106882759563018, 'MCD'), (-0.042942141992919666, 'XOM'), (-0.051661271080882996, 'CAT'), (-0.12585993303584916, 'CVX'), (-0.26499879525484726, 'IBM')]