In [0]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import cross_val_score, KFold
from sklearn import preprocessing as prep
from sklearn import utils

In [0]:
dataset_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
data = pd.read_csv(dataset_url,  header=None)

In [90]:
feature_names_raw = """1) Alcohol
2) Malic acid
3) Ash
4) Alcalinity of ash
5) Magnesium
6) Total phenols
7) Flavanoids
8) Nonflavanoid phenols
9) Proanthocyanins
10)Color intensity
11)Hue
12)OD280/OD315 of diluted wines
13)Proline"""
feature_names = ['Class']
for afeat in feature_names_raw.split('\n'):
    feature_names.append(afeat.replace(") ",")").split(")")[1])

feature_names

['Class',
 'Alcohol',
 'Malic acid',
 'Ash',
 'Alcalinity of ash',
 'Magnesium',
 'Total phenols',
 'Flavanoids',
 'Nonflavanoid phenols',
 'Proanthocyanins',
 'Color intensity',
 'Hue',
 'OD280/OD315 of diluted wines',
 'Proline']

In [91]:
data.columns = feature_names
data

     Class  Alcohol  Malic acid  ...   Hue  OD280/OD315 of diluted wines  Proline
0        1    14.23        1.71  ...  1.04                          3.92     1065
1        1    13.20        1.78  ...  1.05                          3.40     1050
2        1    13.16        2.36  ...  1.03                          3.17     1185
3        1    14.37        1.95  ...  0.86                          3.45     1480
4        1    13.24        2.59  ...  1.04                          2.93      735
..     ...      ...         ...  ...   ...                           ...      ...
173      3    13.71        5.65  ...  0.64                          1.74      740
174      3    13.40        3.91  ...  0.70                          1.56      750
175      3    13.27        4.28  ...  0.59                          1.56      835
176      3    13.17        2.59  ...  0.60                          1.62      840
177      3    14.13        4.10  ...  0.61                          1.60      560

[178 rows x 14 columns]

In [0]:
def get_outliers_count(data, outliers_level = 2):
    feature_names = data.columns
    params = {afeat:{'median':data[afeat].median(),'count':0} for afeat in feature_names}
    for afeat in feature_names:
        params[afeat]['count'] = data[afeat].apply(lambda x: 0 if x < params[afeat]['median']*outliers_level else 1).sum()
        print(afeat, params[afeat]['count'])

In [93]:
get_outliers_count(data, 2)

Class 0
Alcohol 0
Malic acid 28
Ash 0
Alcalinity of ash 0
Magnesium 0
Total phenols 0
Flavanoids 1
Nonflavanoid phenols 0
Proanthocyanins 2
Color intensity 11
Hue 0
OD280/OD315 of diluted wines 0
Proline 7

In [94]:
X = data.drop(['Class'], axis=1)
y= data.Class
X.shape, y.shape

((178, 13), (178,))

In [95]:
from sklearn.neighbors import KNeighborsClassifier
clf  = KNeighborsClassifier(n_neighbors=3)
clf.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [0]:
# from sklearn.model_selection import cross_val_score, KFold

clf_kfold = KFold(n_splits = 5, shuffle = True, random_state = 42)


scores = cross_val_score(clf, X, y, cv=KFold(n_splits = 5, shuffle = True, random_state = 42))

In [0]:
def get_cross_val_scores_knn(n_neighbors):
    scores = {}
    for neighbors in range(1,n_neighbors+1):
        clf  = KNeighborsClassifier(n_neighbors=neighbors)
        clf.fit(X, y)
        scores[neighbors] = cross_val_score(clf, X, y, cv=KFold(n_splits = 5, shuffle = True, random_state = 42))
    return scores

In [0]:
scores = get_cross_val_scores_knn(50)
df_scores = pd.DataFrame(scores).T.mean(axis=1)

In [99]:
df_scores.idxmax(), df_scores[df_scores.idxmax()]

(1, 0.7304761904761905)

In [100]:
X

     Alcohol  Malic acid   Ash  ...   Hue  OD280/OD315 of diluted wines  Proline
0      14.23        1.71  2.43  ...  1.04                          3.92     1065
1      13.20        1.78  2.14  ...  1.05                          3.40     1050
2      13.16        2.36  2.67  ...  1.03                          3.17     1185
3      14.37        1.95  2.50  ...  0.86                          3.45     1480
4      13.24        2.59  2.87  ...  1.04                          2.93      735
..       ...         ...   ...  ...   ...                           ...      ...
173    13.71        5.65  2.45  ...  0.64                          1.74      740
174    13.40        3.91  2.48  ...  0.70                          1.56      750
175    13.27        4.28  2.26  ...  0.59                          1.56      835
176    13.17        2.59  2.37  ...  0.60                          1.62      840
177    14.13        4.10  2.74  ...  0.61                          1.60      560

[178 rows x 13 columns]

In [0]:
X_old = X.copy()
from sklearn import preprocessing
X = pd.DataFrame(preprocessing.scale(X), columns=X_old.columns)

In [0]:
scores = get_cross_val_scores_knn(50)
df_scores = pd.DataFrame(scores).T.mean(axis=1)

In [103]:
df_scores.idxmax(), df_scores[df_scores.idxmax()]

(29, 0.9776190476190475)

In [0]:
# from sklearn import datasets
data = datasets.load_boston()

In [112]:
print(data.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [116]:
data.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [0]:
X = pd.DataFrame(data.data, columns=data.feature_names)
y = pd.DataFrame(data.target, columns = ['Target'])

In [151]:
X.head()

       CRIM    ZN  INDUS  CHAS   NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  6.32e-03  18.0   2.31   0.0  0.54  ...  1.0  296.0     15.3  396.90   4.98
1  2.73e-02   0.0   7.07   0.0  0.47  ...  2.0  242.0     17.8  396.90   9.14
2  2.73e-02   0.0   7.07   0.0  0.47  ...  2.0  242.0     17.8  392.83   4.03
3  3.24e-02   0.0   2.18   0.0  0.46  ...  3.0  222.0     18.7  394.63   2.94
4  6.91e-02   0.0   2.18   0.0  0.46  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [0]:
X = pd.DataFrame(prep.scale(X), columns = data.feature_names)
label_encoder = prep.LabelEncoder()
y = label_encoder.fit_transform(y.Target)

In [181]:
print(utils.multiclass.type_of_target(y))

multiclass

In [147]:
X.describe()

           CRIM        ZN     INDUS  ...   PTRATIO         B     LSTAT
count  5.06e+02  5.06e+02  5.06e+02  ...  5.06e+02  5.06e+02  5.06e+02
mean   6.91e-18  7.66e-17 -2.24e-16  ...  1.58e-15 -5.05e-17 -5.18e-17
std    1.00e+00  1.00e+00  1.00e+00  ...  1.00e+00  1.00e+00  1.00e+00
min   -4.20e-01 -4.88e-01 -1.56e+00  ... -2.71e+00 -3.91e+00 -1.53e+00
25%   -4.11e-01 -4.88e-01 -8.68e-01  ... -4.88e-01  2.05e-01 -7.99e-01
50%   -3.91e-01 -4.88e-01 -2.11e-01  ...  2.75e-01  3.81e-01 -1.81e-01
75%    7.40e-03  4.88e-02  1.02e+00  ...  8.07e-01  4.34e-01  6.03e-01
max    9.93e+00  3.80e+00  2.42e+00  ...  1.64e+00  4.41e-01  3.55e+00

[8 rows x 13 columns]

In [182]:
y

array([137, 113, 196, 193, 203, 165, 126, 156,  64,  87,  52,  87, 114,
       102,  80,  97, 128,  73, 100,  80,  40,  94,  54,  48,  57,  42,
        65,  50,  82, 108,  32,  48,  36,  35,  39,  87,  98, 108, 144,
       176, 197, 153, 149, 144, 110,  91,  98,  65,  47,  92,  95, 103,
       146, 131,  87, 200, 144, 181, 130,  94,  85,  59, 119, 146, 189,
       132,  92, 117,  72, 107, 139, 114, 125, 131, 138, 111,  98, 106,
       110, 101, 159, 136, 145, 126, 136, 153, 122, 119, 133, 165, 123,
       117, 126, 146, 104, 162, 111, 211, 219, 191, 157, 152,  84,  91,
        99,  93,  93, 102,  96,  92, 114, 125,  86,  85,  83,  81, 110,
        90, 102,  91, 117, 101, 103,  71,  86, 111,  58,  61,  78,  46,
        90,  94, 127,  82,  57,  79,  72,  69,  37,  76,  43,  47,  38,
        57,  25,  41,  57,  49,  76,  56, 112,  94,  55,  92,  68,  57,
        35, 213, 140, 130, 155, 228, 228, 228, 124, 146, 228, 135, 135,
       120,  72,  89, 128, 133, 123, 168, 129, 143, 171, 207, 212, 203,
       210, 186, 151, 169, 228, 183, 170, 197, 206, 174, 204, 178, 167,
       228, 192, 173, 195, 197, 188, 138, 215, 226, 228, 123, 141, 122,
       141,  98, 114,  91, 121, 160, 134, 146, 130, 165, 112, 127, 154,
       114, 157, 172, 221, 228, 209, 181, 224, 180, 140, 182, 214, 225,
       166, 137, 147, 180, 134, 130, 117,  99, 119, 134,  74,  83, 140,
       103, 142, 150, 141, 145, 169, 216, 116, 107, 220, 228, 201, 172,
       194, 217, 227, 177, 205, 125, 175, 228, 218, 105, 109, 148, 141,
       199, 185, 183, 191, 190, 167, 198, 222, 200, 223, 228, 184, 117,
        99, 129, 120, 145, 163, 208, 158, 136, 114, 164, 156, 101, 122,
       166, 145, 117, 151, 190, 202, 162, 193, 161, 125, 101,  60, 118,
        92, 113, 135,  61,  76,  96, 128, 108, 135, 128, 102,  83, 146,
       143, 127, 119,  91, 123,  96,  69,  92, 119, 105, 109,  93,  83,
       104,  88,  85, 187,  64, 136, 179,  73,  70, 128, 142, 153, 126,
       138,  84, 172,  80, 104,  76, 114, 124, 123, 146,  97, 106,  67,
       116, 157, 116, 128, 228, 228, 228, 228, 228,  41,  41,  52,  42,
        37,  35,  16,  17,  20,  22,  29,  12,   4,  18,   5,  16,  23,
        53, 129,  15,  41,  32,  35,  30,  10,   0,   2,   1,   4,  28,
         8,  10,   0,  26, 158,  70, 157,  52,  70,  77,  62,   3,   4,
         6,  17,  12,   9,  66,  45, 106,  38,  24,   8,  16,  20,  21,
        13,  48,  44,  60,  46,  24,  38,  14,  11,   9,  33,  18,  69,
        82,  56,  19,  25,  51,  31,  44,  34,  38,  54,  60,  76,  51,
        44,  32,  39,  51,  98,  63,  75,  93, 100, 111,  97,  88,  89,
        89,  99,  97,  94, 129, 170,  41,  37,  66,  27,  49, 111, 127,
       134, 146, 115, 104, 110,  89, 104,  54,   3,   7,  40,  99, 115,
       142, 128,  95,  81, 110,  73,  67, 121, 104, 136, 117,  26])

In [192]:
def get_cross_val_scores_knn_parametric(parameter_name, parameter_values, **kwargs):
    scores = {}
    params = {}
    params.update(kwargs)
    print("testing parameters:", kwargs)
    for test_value in parameter_values:
        params[parameter_name] = test_value
        clf  = KNeighborsClassifier(**params)
        clf.fit(X, y)
        scores[test_value] = cross_val_score(clf, X, y, cv=KFold(n_splits = 5, shuffle = True, random_state = 42), scoring='neg_mean_squared_error')
    return scores

parameter_name = 'p'
parameter_values = np.linspace(1, 10, 200)
model_parameters = {'n_neighbors': 5, 'weights': 'distance', 'metric': 'minkowski'}
result = get_cross_val_scores_knn_parametric(parameter_name, parameter_values, **model_parameters)

testing parameters: {'n_neighbors': 5, 'weights': 'distance', 'metric': 'minkowski'}

In [0]:
df_scores = pd.DataFrame(result).T

In [0]:
df_scores = df_scores.mean(axis=1)

In [210]:
df_scores.idxmax(), df_scores[df_scores.idxmax()]

(1.0452261306532664, -746.4670743544942)