In [0]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [0]:
dataset_url = '/content/drive/My Drive/coursera/Week 1/titanic.csv'
df = pd.read_csv(dataset_url)

In [0]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
X = df[["Pclass", "Fare", "Age", "Sex", "Survived"]].dropna()
X.Sex = X.Sex.apply(lambda x: 1 if "female" in x.lower() else 0)
y = X.Survived
X = X.drop("Survived", axis=1)
X.shape, y.shape

((714, 4), (714,))

In [0]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=241, splitter='best')

In [0]:
#pd.DataFrame(clf.feature_importances_).set_index(X.columns).T
list(zip(X.columns, clf.feature_importances_))

[('Pclass', 0.14751816099515025),
 ('Fare', 0.2953846784065746),
 ('Age', 0.25658494964003575),
 ('Sex', 0.3005122109582393)]

In [0]:
importances = clf.feature_importances_
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X.shape[1]):
    print("{}. feature {} {} {} ".format(f + 1, indices[f], importances[indices[f]], X.columns[indices[f]]))

Feature ranking:
1. feature 3 0.3005122109582393 Sex
2. feature 1 0.2953846784065746 Fare
3. feature 2 0.25658494964003575 Age
4. feature 0 0.14751816099515025 Pclass

1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.
2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).
3. Обратите внимание, что признак Sex имеет строковые значения.
4. Выделите целевую переменную — она записана в столбце Survived.
5. В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.
6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию (речь идет о параметрах конструктора DecisionTreeСlassifier).
7. Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую или пробел, порядок не важен).